<main>
    <div class="stats">
        <span>Символів: {{ charCount }} </span>
        <span>Слів: {{ wordCount }}</span>
    </div>
    <div class="layout">
        <div class="layout__left">
            <button (click)="copyText(myTextarea.value)">
                копіювати текст з форми
            </button>
            <textarea
                #myTextarea
                [formControl]="textControl"
                (select)="onSelectionChange($event)"
                rows="8"
                cols="70"
                maxlength="100000"
                placeholder="Введіть текст..."
            ></textarea>

            @if (isLoadingSynonyms()) { <span class="loader"></span> } @else {
            <button
                type="button"
                (click)="onGetSynonymsClick()"
                [disabled]="!selectedText || isLoadingSynonyms()"
            >
                Отримати синоніми
            </button>
            }
        </div>
        <div class="layout__right">
            @if (synonymsError()) {
            <div class="synonyms-message">{{ synonymsError() }}</div>
            } @if (synonyms().length) {
            <div class="synonyms-list">
                @for (s of synonyms(); track s.word) {
                <button class="synonym-item" (click)="onSynonymClick(s.word)">
                    {{ s.word }}
                </button>
                }
            </div>
            }
        </div>
    </div>
</main>
